.dyhzzfx1{
  text-align:center;
  width:950px;
  margin:0 auto;
}
/*小盒子触发设置*/


.overlay h4 {
   
      position: relative;
    
      top: 50%;
    
      -webkit-transform: translateY(-50%);
  
      -ms-transform: translateY(-50%);
   
      transform: translateY(-50%);

}




.blue {
	color:68c8e3;
}


.green {
	color: #0F0;
}



.home-intro {
      margin-bottom: 100px;/*盒子与上方内容总间距*/
}

h2.welcome-title {
    
      font-weight: 100;
    /*标题设置*/
      color: #fff;
    
      font-size: 40px;
    
      margin-bottom: 30px;

      padding-top: 30px;   
      -moz-animation-delay: 0.1s;
   
      -webkit-animation-delay: 0.1s;
   
      animation-delay: 0.1s;

}





.home-projects h2 {
  
      color: #fff;
   
      font-size: 30px;
    /*“简介”盒子内容设置*/
      margin-top: 3px;
    
      margin-bottom: 35px;

}



.project-title {
    
      padding: 50px;
   
      background: #6ed9f7;
    
      margin-bottom: 15px;
    
      -moz-animation-delay: 0.5s;
  
      -webkit-animation-delay: 0.5s;
   
      animation-delay: 0.5s;

}


.project-item {
   
      margin-bottom: 30px;
   /*四个小盒子之间间距设置*/
      position: relative;
   
      overflow: hidden;
    
      border: 3px solid #1a1c1f;
   
      -moz-backface-visibility: hidden;
   
      -webkit-backface-visibility: hidden;
   
      backface-visibility: hidden;

}


.project-item img {
    
      width: 100%;
    /*四个小盒子图片设置*/
      display: block;

}


.overlay {
    
      position: absolute;
   
      width: 100%;
    
      height: 100%;
     /*小盒子触发文字设置*/
      top: 0;
    
      left: 0;
   
      background: rgba(173,233,250,0.9);
    
      text-align: center;
    
      opacity: 0;
    
      -webkit-transition: all 200ms ease-in-out;
    
      -moz-transition: all 200ms ease-in-out;
    
      -ms-transition: all 200ms ease-in-out;
   
      -o-transition: all 200ms ease-in-out;
    
      transition: all 200ms ease-in-out;
    
      -moz-transform: rotate(45deg);
    
      -ms-transform: rotate(45deg);
    
      -o-transform: rotate(45deg);
    
      -webkit-transform: rotate(45deg);
    
      transform: rotate(45deg);

}


.overlay h4 {
    font-size: 15px;
}



.overlay h4 a {
    color: #fff;
}



.project-item:hover .overlay {
    
      opacity: 1;
    
      -moz-transform: rotate(0);
   
      -ms-transform: rotate(0);
    /*触发装置*/
      -o-transform: rotate(0);
    
      -webkit-transform: rotate(0);
    
      transform: rotate(0);

}










.project-item.one {
   
      -moz-animation-delay: 0.5s;
   
      -webkit-animation-delay: 0.5s;
   
      animation-delay: 0.5s;

}


.project-item.two {
   
      -moz-animation-delay: 1s;
   
      -webkit-animation-delay: 1s;
   
      animation-delay: 1s;

}

.project-item.three {
   
      -moz-animation-delay: 1.5s;
    
      -webkit-animation-delay: 1.5s;
    
      animation-delay: 1.5s;

}
.project-item.four {
    
      -moz-animation-delay: 2s;
    
      -webkit-animation-delay: 2s;
   
      animation-delay: 2s;

}
















































p {
   
      margin-bottom: 30px;

}


h2,h4{
    
      text-transform: uppercase;   /*大写设置*/
}


a:hover {
    
      color: inherit;
   /*下划线*/
      text-decoration: none;

}





.pink-button {
    
      color: #fff;
    /*“详细介绍”按钮设置*/
      text-transform: uppercase;
    
      font-size: 12px;
    
      padding: 10px 15px;
    
      display: inline-block;
    
      background: #a95bc3;
    
      font-weight: normal;

}




/*unit4-1"简介"字体设置*/


body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#333;
	

}





a {
	
      text-decoration:none/*下划线设置*/
}






h2,h4{
      font-family:inherit;  /*盒子与内容间距*/
      line-height:1.1;

     
}








.container1 {
	
      padding-right:15px;
	
      padding-left:15px;
	
      margin-right:auto;
	
      margin-left:auto
}




@media (min-width:992px) {
	

      .container {
		
      width:950px
	
}


}




.row {
	
      margin-right:-15px;
	/*四个小盒子排版设置*/
      margin-left:-15px

}


.col-md-6{
	
      position:relative;
	
      min-height:1px;
	
      padding-right:15px;
	
      padding-left:19px
}




@media (min-width:992px) {
	
.col-md-6 {
		
      float:left
;
      width:42%
	/*五个盒子大小 排版*/
}

	


	














/*unit4-1悬浮总体效果代码*/

@charset "UTF-8";


.animated {
	
      -webkit-animation-duration:1s;
	
      animation-duration:1s;
	
      -webkit-animation-fill-mode:both;
	
      animation-fill-mode:both

}





/*标题“追逐...的孩子”悬浮*/


@keyframes fadeInLeft {
	

      0% {
		
      opacity:0;
		
      -webkit-transform:translate3d(-100%,0,0);
		
      transform:translate3d(-100%,0,0)
	
}
	

      100% {
		
      opacity:1;
		
      -webkit-transform:none;
		
      transform:none
	
}


}


.fadeInLeft {
	

      -webkit-animation-name:fadeInLeft;
	
      animation-name:fadeInLeft

}




/*右四小盒子悬浮*/



@keyframes fadeInRight {
	

      0% {
		
      opacity:0;
		
      -webkit-transform:translate3d(100%,0,0);
		
      transform:translate3d(100%,0,0)
	
}
	

      100% {
		
      opacity:1;
		
      -webkit-transform:none;
		
      transform:none
	
}


}


.fadeInRight {
	
      -webkit-animation-name:fadeInRight;
	
      animation-name:fadeInRight

}





/*左“简介”大盒子悬浮*/


@keyframes fadeInUp {
	

      0% {
		
      opacity:0;
		
      -webkit-transform:translate3d(0,100%,0);
		
      transform:translate3d(0,100%,0)
	
}
	

      100% {
		
      opacity:1;
		
      -webkit-transform:none;
		
      transform:none
	
}


}


.fadeInUp {
	
      -webkit-animation-name:fadeInUp;
	
      animation-name:fadeInUp

}


